{
    "bot": {
        "token": "SECRET BOT TOKEN",
        "command_name": "vanilla",
        "guild_id": 518331223047667742,
        "permitted_ranks": [
            886010716602105856
        ]
    },
    "panel": {
        "panel-url": "https://pterodactyl.example.com/",
        "client-api-token": "secret user that can see servers client token",
        "app-api-token": "secret admin application token"
    },
    "server": {
        "ip": "vanilla.example.com or 123.456.789 - if numeric ip, put port below",
        "port": 0,
        "rcon_password": "sEcReTpaSsWd",
        "rcon_port": 25570
    },
    "pack": {
        "url": "https://minecraft.net/",
        "icon": "https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fimg00.deviantart.net%2F9cc9%2Fi%2F2011%2F008%2F6%2F1%2Fminecraft_hd_icon___mac___pc_by_hunterkharon-d36qrs5.png&f=1&nofb=1",
        "name": "Vanilla Minecraft",
        "version": "1.17"
    },
    "messages": {
        "activities": {
            "connecting": "Connecting to services...",
            "invalid": "No response!",
            "idle": "no one is playing.",
            "online": "with {online}/{max} players"
        },
        "emojis": {
            "home": {
                "id": 885238099104378951,
                "name": "homebtn"
            },
            "end": {
                "id": 885249126307082292,
                "name": "endbtn"
            },
            "arrow-left": {
                "id": 885249268179435531,
                "name": "arrowleftbold"
            },
            "arrow-right": {
                "id": 885249200760164393,
                "name": "arrowrightbold"
            }
        }
    }
}